@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/login-form-20/css/style.css">

    <style>
        /* Arka plan karartma */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }


        .heading-section {
            color: #ffe6e6; 
            font-weight: bold;
            font-size: 36px; 
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        }

        /* Yazı renkleri */
        .signin-form .form-control,
        .signin-form button {
            color: #333;
        }

            .signin-form .form-control::placeholder {
                color: #777;
            }

        .btn-primary {
            background: #3498db; /* Canlı mavi */
            border: none;
            color: #fff;
        }

            .btn-primary:hover {
                background: #2980b9; /* Hover efekti */
            }
    </style>
</head>
<body class="img js-fullheight" style="background-image: url(/login-form-20/images/freepik__upload__26172.png);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section">MCV CV LOGIN PANELİ</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">Zaten bir hesabın var mı?</h3>
                        <form method="post" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Kullanıcı Adınız" name="username" required>
                            </div>
                            <div class="form-group">
                                <input id="password-field" type="password" class="form-control" placeholder="Şifreniz" name="password" required>
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Giriş Yap</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Beni Hatırla
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#" style="color: #3498db">Şifremi Unuttum</a>
                                </div>
                            </div>
                        </form>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/login-form-20/js/jquery.min.js"></script>
    <script src="/login-form-20/js/popper.js"></script>
    <script src="/login-form-20/js/bootstrap.min.js"></script>
    <script src="/login-form-20/js/main.js"></script>

</body>
</html>
