
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Test</h2>

<h1 style="color:#0094ff">Merhaba Gizem!</h1>
<br />

<a href="/home/Test2" class="btn btn-primary">Test2'ye git </a>