@model McvCv.Models.Entity.TblCertifications
@{
    ViewBag.Title = "yeniSertifika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h4>Yeni Sertifika Ekleme Sayfası</h4>
<br />
<form method="post">

    <br />
    @Html.Label("Sertifika")
    @Html.TextBoxFor(x => x.description, new { @class = "form-control" })
    <br />
    @Html.Label("Alınma Tarihi")
    @Html.TextBoxFor(x => x.date, new { @class = "form-control" })

    <br />

    <button class="btn btn-info">Kaydet</button>
    
</form>



