@using McvCv.Models.Entity
@model List<TblExperience>  

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Deneyim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.title</td>
        <td>@item.subtitle</td>
        <td>@item.date</td>
        <td><a href="/Experience/deneyimSil/@item.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Experience/deneyimGuncelle/@item.ID" class="btn btn-warning">Düzenle</a></td>
    </tr>
    }

</table>
<a href="/Experience/deneyimEkle/" class="btn btn-primary">Yeni Deneyim Ekle</a>


