<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">İletişim</h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="name_surname" />

        <label>Mail</label>
        <input type="text" class="form-control" name="mail" />

        <label>Konu</label>
        <input type="text" class="form-control" name="topic" />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="message" />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
